<!--
  Project
  File name: main_nav.ejs
  Group 1

-->

<!-- main nav -->

<!-- Navigation bar -->
<header class="navbar_contents">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-custom">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <!-- Logo ---->
      <img src="../../Assets/images/logo-no-background.png" alt="img-fluid" alt="logo" id="logo">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">

          <!-- Show active for current page ---->

            <% if (title == "Home") { %>
            <li class="nav-item active">
             <% } else { %>
             <li class="nav-item">
             <% } %>
             <a class="nav-link " href="/home"><i class="fa-solid fa-house"></i> Home </a>
            </li>

            <% if (title == "About") { %>
            <li class="nav-item active">
             <% } else { %>
             <li class="nav-item">
             <% } %>
              <a class="nav-link " href="/about"> <i class="fa-solid fa-circle-info"></i> About </a>
            </li>

            <% if (title == "Contact") { %>
            <li class="nav-item active">
              <% } else { %>
              <li class="nav-item ">
              <% } %>  
               <a class="nav-link " href="/contact"><i class="fa-solid fa-message"></i> Contact </a>
            </li>

            <% if (title == "Surveys") { %>
              <li class="nav-item active">
                <% } else { %>
                <li class="nav-item ">
                <% } %>  
                 <a class="nav-link " href="/surveys-list"><i class="fa-solid fa-square-poll-vertical"></i> Surveys </a>
              </li>
              
              <% if (typeof profileName == 'string' && profileName) { %>
                <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= profileName %></li>
                <li class="nav-item"><a href="/logout" class="nav-link">
                  <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
                <% } else  { %>
                  <li class="nav-item"><a href="/login" class="nav-link">
                    <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
                <% } %>
          </ul>
        </div>
    </div>
  </nav>
</header>
