<!--
  Project 
  File name: index.ejs
  Group 1
-->

<!--  EJS template syntax includes the content of the "header.ejs" partial file into this file ---->
<%- include partials/header.ejs %>

<!--  EJS template syntax includes the content of the "main_nav.ejs" partial file into this file ---->
<%- include partials/main_nav.ejs %>


<!-- If the user is not logged in, redirect to home otherwise redirect to add a survey page, when clicked on create a survey ---->

<div class="left-survey">
 <div class="image-container">
    <div class="lights"></div>
      <div class="circle">
        <% if (typeof profileName === 'string' && profileName.trim() !== '') { %>
  
        <a href="/surveys-list" class="intro">
            <img src="Assets/images/click2.png" alt="">          
      </div>
      <div class="content">
        <div class="details">
          <p>To Create</p>
          <h2> A Survey!
           </h2>
        </a>
        <% } else { %>
          <!-- User is not logged in, redirect to the login page -->
          <a href="/login" class="intro">
            <img src="Assets/images/click2.png" alt="">          
      </div>
      <div class="content">
        <div class="details">
          <p>To Create</p>
          <h2> A Survey!</h2>
          </a>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="left">
  <h1>
    <span>Step into the  survey revolution </span>
  </h1>
  <h2>
    <span>Design, collect, and conquer with ease!</span>
  </h2>
</div>

<!-- Emoji and Name -->
<div class="right">
  <div class="image-container">
      <img src="Assets/images/front.png" id="front-image">
  </div>
</div>


<!--  EJS template syntax includes the content of the "bottom_nav.ejs" partial file into this file ---->
<%- include partials/bottom_nav.ejs %>

<!--  EJS template syntax includes the content of the "footer.ejs" partial file into this file ---->
<%- include partials/footer.ejs %>
