/************************* css for all the pages ********************************/

/*
  File name: app.css
  Project 
  Group 1
*/

body{
  align-items : center;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  color: azure;
  background:rgb(67, 84, 135);
  min-height: 100%;
  font-family: Quicksand;
}

/************************* main_nav.ejs ********************************/
/*Navigation bar*/

.bg-custom {
  background: linear-gradient(to right, #0c0c4e, #01011d); 
  outline: 2px solid rgb(45, 81, 171);
}

.navbar_contents .navbar{
  padding: 0.1rem 0;
}

#logo{
  max-width: 5rem;
  height: auto;
}
.nav-item {
  transition: background-color 0.6s ease; 
}
.nav-item.active,
.nav-item:active {
  background: linear-gradient(to right, #090356,rgba(68, 61, 122, 0.872)); 
  background: rgba(61, 61, 122, 0.872);
}

/*Icons*/

.social{
  transition: transform 4s;
  margin-right: 20px;

}
.social:hover{
  transition: translateY(-5px);
}

.social-facebook{
  color:#9b9898;
  transition:color 0.2s;
  text-decoration: none;
  margin: 2px;
  font-size: 25px ;
}
.social-facebook:hover {
  color:rgb(255, 255, 255);
}

.social-instagram{
  color:#9b9898;
  transition:color 0.2s;
  text-decoration: none;
  margin: 2px;
  font-size: 25px ;
}
.social-instagram:hover {
  color:rgb(255, 255, 255);
}

.social-linkedin{
  color:#9b9898;
  transition:color 0.2s;
  text-decoration: none;
  margin: 2px;
  font-size: 25px ;
}
.social-linkedin:hover {
  color:rgb(255, 255, 255);
}
.social-twitter{
  color:#9b9898;
  transition:color 0.2s;
  text-decoration: none;
  margin: 2px;
  font-size: 25px ;
}
.social-twitter:hover {
  color:rgb(255, 255, 255);
}

/************************* index.ejs ********************************/
/*HOME page*/

.intro{
  margin-top: -1%;
}
.left{
  margin-top: -25%;
}
h1{
  color: rgb(249, 200, 200);
  margin: 0;
  padding: 0;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight:bolder;
  margin-top: -3%;
}

h2{
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight:bolder;
  margin-top: 1%;
}

h1 span{
  color: rgb(215, 203, 127); 
  padding: 10px 7px; 
  font-family: Alegreya;
  display: table-cell;
  font-size: 1.2em;
}

h2 span{
  color: rgb(215, 203, 127); 
  padding: 10px 5px; 
  font-family: Caveat;
  display: table-cell;
  font-size: 1.2em;
}
.left-survey{
  margin-right: 70%;
  margin-top: 19%;
 }
.image-container{
 width: 380px;
 height: 290px;
 margin-left: 52%;
 margin-top: 15%;
}
#front-image{
  width: 440px;
  height: 290px;
 }
#click-here{
  margin-top: 2px;
 }

/*FRONT IMAGE*/
 .image-container{
  position: relative;
  width: 340px;
  height: 250px;
  transition: 0.5s;
  margin-left: 58%;
  margin-top: 5.5%;
 }
 
 .image-container .lights{
  position: absolute;
  inset:0;
  background: black;
  overflow: hidden;
 }
 
 .image-container .lights::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent,rgb(229, 236, 163),rgb(159, 212, 235),rgb(59, 86, 224),transparent);
  animation: light 4s linear infinite;
 }
 @keyframes light 
 {
  0%{
      transform: translate(-50%,-50%) rotate(0deg);
   }
  100%{
      transform: translate(-50%,-50%) rotate(360deg);
   }
 }
 
 .image-container .lights::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: rgb(62, 55, 135);
 }
 
 .image-container .circle{
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  height: 190px;
  background: black;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  border-radius: 50%; 
 }
 
 .image-container:hover .circle{
  width: 205px;
  height: 205px;
  border-radius: 50%;
 }
 
 .image-container .circle::before{
  content: '';
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, 50%);
  width: 500px;
  height: 150px;
  background: linear-gradient(transparent,rgb(229, 236, 163),rgb(159, 212, 235),rgb(59, 86, 224),transparent);
  animation: light2 6s linear infinite;
  border-radius: 50%;
 }
 
 @keyframes light2
 {
  0%{
      transform: translate(-50%,-50%) rotate(360deg);
  }
  100%{
      transform: translate(-50%,-50%) rotate(0deg);
  }
 }
 
 .image-container .circle::after{
  position: absolute;
  content: '';
  background: rgb(235, 255, 197);
  inset: 3px;
  border-radius: 50%;
 }
 .image-container .circle img{
  position: absolute;
  top: 3px;
  left: 0.8px;
  z-index: 1;
  width: 99.5% ;
  height: 97.5% ; 

 }
 
 .image-container .content{
  padding: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 }
 
 .image-container .content .details h2{
  padding: 40px;
  width: 100%;
  margin-left: -10%;  
  transform: translateY(145px);
  text-shadow: 0 15px 25px rgb(239, 243, 188);
  font-size: 2.2em;
  font-weight: 700;
  color: rgb(247, 253, 121);
  margin-top: -32%;
  transition: 0.5s;
  font-family: Caveat;
 }
 .image-container:hover .content .details h2{
  font-weight: 700;
  font-size: 2.3em;
  margin-top: -32%;
 }
   
 .image-container .content .details p{
   padding: 40px;
   width: 100%;
   margin-left: -2%;  
   transform: translateY(145px);    
   font-size: 1.5em;
   font-weight: 500;
   color: rgb(249, 227, 103);
   margin-top: -87%;
   transition: 0.5s;
   font-family: Caveat;
   text-decoration: none;

 }
 a{
  text-decoration: none;
}
 
 .image-container:hover .content .details p{
  font-weight: 500;
  margin-top: -79%;
  font-size: 1.6em;
  text-decoration: none;

 }


/************************* bottom_nav.ejs ********************************/
.navbar-text{
 margin-left: 2%;
 font-size: 13px;
}
         
footer {
  margin-top: 110px;
}

/************************* about.ejs ********************************/
/*About page*/

#about{
  color: rgb(255, 255, 255);
  margin-top: 10%;
}

.about-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -4%;

}

.column-1{
  flex-basis: 35%;   
  border-radius: 15px;
}

.column-2{
  flex-basis: 65%;   
}

#about-h1{
  color: rgb(255, 255, 255);
  margin-left: 19.7%;
  margin-top: 8%;
  font-size: 38px;
}

#about-p{
  margin-left: 13.2%;
  margin-right: 15%;
  margin-top: 19%;
  font-size: 12px;
  margin-bottom: 50px;
}

#us{
  height: 270px;
  width:  310px;
  margin-left: 30%;
  margin-top: 25%;
}

.about-info{
  display: flex;
  margin: 20px 110px 0px;
}

html{
  overflow-x: hidden;
}

.team{
  margin-right: 40px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  margin-top: -3%;
}

.info-text{
  margin-left: 9.5%;
  margin-top: -1%;
  font-size: 12px;
}

.info-text ul li{
 list-style: none;
 margin: 10px 0;
}

.info-text ul li span{
  color: rgb(153, 155, 133);
  font-size: 11px;
}


/************************* contact.ejs ********************************/
/*Contact page*/

#contact{
  margin-left: 7%;
  margin-right: 7%;
  padding: 38px 38px;
  margin-top: 12%; 
}

#contact-h1{
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-left: -11.5%;
  margin-top: 2%;
}

.contact-content{
  flex-basis: 35%;
}
.contact-form{
  flex-basis: 60%;  
  margin-left: 40%;
  margin-top: -20%;
}

.contact-content p{
  margin-left: -13px;
}


#contact-btn{
  display: inline-block;
  align-items: center;
  margin-right: auto;
  text-align: center;
  width: 8rem;
  background:  rgba(242, 171, 171, 0.941);
  border-radius: 16px;
  padding: 8px 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(17, 11, 81);
  cursor: pointer;
  font-weight: 1000;
  font-size: 14px;
}

#contact-btn:hover{
  background: rgb(97, 94, 174);
}
.contact-form form{
  width: 100%;
  margin-top: 20%;
}

form input, form textarea{
  width: 90%;
  border: 0;
  outline: none;
  background: rgba(223, 223, 255, 0.817);
  padding: 10px;
  margin: 5px 0;
  color:#1c2068;
  font-size: 14px;
  border-radius: 7px;
}
#submit{
  display: inline-block;
  align-items: center;
  margin-left: -.7px;
  margin-right: auto;
  margin-top: 6px;
  text-align: center;
  width: 7rem;
  background: #202078;
  border-radius: 16px;
  padding: 10px 5px;
  box-sizing: border-box;
  text-decoration: none;
  color: #fff;
  box-shadow: 3px 8px 22px rgba(15, 15, 99, 0.15);
  border: none;
  cursor: pointer;
  font-size: 14px;
}
#submit:hover{
  background: #4b55c0a7;
}

#display-message{
  color:rgb(129, 133, 71);
  margin-top: 10px;
  display: block;
}

  /*Landing page*/
@media (max-width: 1176px) and (max-height:1026px) {
  .left-survey{
    margin-right: 70%;
    margin-top: 25%;
   }
  .left{
    margin-top: -30%;
  }
  h1{
    left: 30%;
    margin-top: -3%;
  }
  
  h2{
    left: 30%;
    margin-top: 1%;
  }
  .image-container{
    margin-left: 52%;
    margin-top: 7%;
   }
}
@media (max-width: 1063px) and (max-height:1026px) {
  .left-survey{
    margin-right: 70%;
    margin-top: 30%;
   }
  .left{
    margin-top: -35%;
    margin-left: -5%;
  }
  h1{
    left: 30%;
    margin-top: -3%;
  }
  
  h2{
    left: 30%;
    margin-top: 1%;
  }
  .image-container{
    margin-left: 52%;
    margin-top: 7%;
   }
}


@media (max-width: 848px) and (max-height:1026px) {
  .left-survey {
    margin-right: 70%;
    margin-top: 40%;
    margin-bottom: -4%;

   }
  .left {
    margin-top: 5%;
    margin-left: -5%;
  }
  h1{
    left: 30%;
    margin-top: -5%;
    font-size: 25px;

  }
  
  h2{
    left: 30%;
    margin-top: 1%;   
    font-size: 20px;    margin-bottom: 60px;

  }
  .image-container{
    margin-left: 52%;
    margin-top: 25%;

   }
}
@media (max-width: 830px) and (max-height:1026px) {
 .left-survey   .image-container{
    margin-top: -120%;
    margin-bottom: -95%;

   }
}
@media (max-width: 713px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -115%;
     margin-bottom: -115%;
 
    }
 }
 @media (max-width: 646px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -105%;
     margin-bottom: -130%;
 margin-left: 65%;
    }
 }
 @media (max-width: 617px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -105%;
     margin-bottom: -130%;
     margin-left: 65%;
    }
    h1 span{
      left: 30%;
      margin-top: -5%;
      font-size: 25px;
    }
    
    h2 span{
      left: 30%;
      margin-top: 1%;   
      font-size: 20px;  
    }
 }
 @media (max-width: 646px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -105%;
     margin-bottom: -160%;
     margin-left: 65%;
    }
 }
 @media (max-width: 530px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -105%;
     margin-bottom: -170%;
     margin-left: 65%;
    }
    h1 span{
      left: 30%;
      margin-top: -5%;
      font-size: 23px;
    }
    
    h2 span{
      left: 30%;
      margin-top: 1%;   
      font-size: 17px;  
    }
 }
 @media (max-width: 472px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -105%;
     margin-bottom: -170%;
     margin-left: 45%;
    }
    h1 span{
      left: 30%;
      margin-top: -5%;
      font-size: 20px;
    }
    
    h2 span{
      left: 30%;
      margin-top: 1%;   
      font-size: 17px;  
    }
 }
 @media (max-width: 428px) and (max-height:1026px) {
  .left-survey   .image-container{
     margin-top: -95%;
     margin-bottom: -200%;
     margin-left: 35%;
    }
    h1 span{
      left: 30%;
      margin-top: -5%;
      font-size: 20px;
    }
    
    h2 span{
      left: 30%;
      margin-top: 1%;   
      font-size: 17px;  
    }
 }
 @media (max-width: 389px) and (max-height:1026px) {
    .left-survey   .image-container{
     margin-top: -90%;
     margin-bottom: -210%;
     margin-left: 19%;
    }
    h1 span{
      left: 30%;
      margin-top: -5%;
      font-size: 20px;
    }
    
    h2 span{
      left: 30%;
      margin-top: 1%;   
      font-size: 17px;  
    }
 }
@media (max-width: 939px) and (max-height:1026px) {
  .left-survey{
    margin-right: 70%;
    margin-top: 70%;
    margin-bottom: -22%;
   }
  .left{
    margin-top: -1%;
    margin-left: -15%;
    margin-bottom: -50%;

  }
  h1{
    left: 30%;
    margin-top: -3%;
  }
  
  h2{
    left: 30%;
    margin-top: -1%;
  }
  .image-container{
    margin-left: 98%;
    margin-top: -150%;
   }
   
}


@media (max-width: 988px) and (max-height:1026px) {
  /*About Page*/
  #about-h1{
      margin-left: 12%;
      margin-top: 5%; 
  }
}

@media (max-width: 948px) and (max-height:1026px) {

  /*HOME*/
  .right .image-container{
     margin-top: 55%;
     margin-left: 35%;
     zoom:80%;
  }
  .left{
      zoom:80%;
  }
  .left h1{
      margin-left: 20%;
      margin-top: -12%;
  }
  .left h2{
      margin-left: 20%;
      margin-top: -18%;
  }    
}

@media (max-width: 648px) and (max-height:1026px) { 

  /*HOME Page*/
  .right .image-container{
      margin-left: 25%;  
  }

  /*About Page*/
  #about-h1{
      margin-top: 8%;
  }

  /*Contact page*/
  #contact-h1{
      margin-left: 15px;
  }

  .contact-container{
      margin-left: 10px;
      margin: 2%;
      margin-top: 10%;
  }
}

@media (max-width: 445px) and (max-height:1026px) { 

  /*HOME page*/
  .right .image-container{
      margin-left: 20%; 
      margin-top: 55%;
  }

  .right{
      margin-left: -2%; 
      margin-top: 65%;
  }

  .left{
      margin-bottom:10% ;
      zoom: 70%;
  }
  
  /*contact page*/
  #contact-h1{
      margin-left: 50px;
      margin-bottom: 80%;
      font-size: larger;
  }

  form input, form textarea{
      width: 200px;
  }

  /*ABOUT page*/
  .tabs {
      margin-right: 20%;
  }

  .tabs-text{
      margin-right: 30%;
  }

  .about-tabs{
      margin: 20px 80px 0px;
  }

}

@media (max-width: 382px) and (max-height:1026px) {  

  /*HOME page*/
  .right .image-container{
      margin-left: 20%; 
      margin-top: 55%;
      zoom: 70%;
  }

  .right{
      margin-left: -2%; 
      margin-top: 65%;
  }

  .left{
      margin-bottom:10% ;
      zoom: 60%;
  }
}
 

@media (max-width: 280px) and (max-height:1026px) {  

  /*HOME page*/
  .left h1{
      margin-left: 45%;
  }

  .left h2{
      margin-left: 45%;
  }
}

/********************login page**********************/

.login-container{
  margin-top: 16%;
  margin-right: 17%;
  margin-left: 17%;
}

#login-h1{
  color: rgb(255, 255, 255);
  margin-top: -4%;
  font-size: 40px;
  margin-left: 20%;
}

#login-h3{
  color: rgb(149, 150, 214);
  margin-top: -4%;
  margin-bottom: 4%;
  font-size: 15px;
  margin-left: 29%;
}

.btn-success {
  background-color: #110b62;
  color: #fff;
  border:2px solid rgba(255, 255, 255, 0.308);
}
.btn-success:hover {
  background-color: #454775;
  border:2px solid rgba(255, 255, 255, 0.308);
}

.btn-warning{
  background-color: #000000;
  color: #fff;
  border:2px solid rgba(255, 255, 255, 0.308);
}
.btn-warning:hover{
  background-color: #222020;
  border:2px solid rgba(255, 255, 255, 0.308);
  color: #fff;
}

#register-link{
  color: #c8d497;
}
#register-link:hover{
  color: #c7d648;
}
#password{
  margin-bottom: 2%;
}
#or{
  margin-right: 3%;
}
#login-buttons{
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 10%;
}

/*******navbar - so it does not expand ******/

.navbar-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.navbar-nav .nav-item {
  white-space: nowrap;
}

/********************register page**********************/
.register-container{
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 8%;
}

#register-h1{
  color: rgb(255, 255, 255);
  margin-top: -2%;
  font-size: 30px;
  margin-left: 20%;
}
#register-buttons{
  margin-top: 4%;
  margin-left: 18%;
  margin-right: 15%;
}

/********************surveys pages**********************/
/*************list**************/

.surveys-container{
  margin-top: 10%;
  margin-left: 8%;
  margin-right: 10%;  

}
#surveys-h1{
  color: rgb(255, 255, 255);
  margin-top: -2%;
  font-size: 35px;
  margin-left: -10%;
}
.table {
  background-color: #1b1f41;
}

#add-btn{
  margin-top: 2%;
  background-color: #17185c;
  border:2px solid rgba(255, 255, 255, 0.308);
  margin-bottom: 2%;
}
#add-btn:hover{
  background-color: #314898;
  border:2px solid rgba(255, 255, 255, 0.308);
}
/*************add**************/
#add-h1{
  color: rgb(255, 255, 255);
  margin-top: -2%;
  font-size: 35px;
  margin-left: 7%;
}
#add-form{
  margin-top: 15%;
}

#submit-btn{
  background: #1a23aa;
  color: rgb(255, 255, 255);
  border:2px solid rgba(255, 255, 255, 0.308);
}
#submit-btn:hover{
  background: #3f59ad;
}

/*************edit**************/
#edit-h1{
  color: rgb(255, 255, 255);
  margin-top: -3%;
  font-size: 35px;
  margin-left: 7%;
}
#edit{
  background: #222020;
  height: 50px;
  width: 60px;
}
#edit:hover{
  background: #474141;
}
#delete{
  background: #460505;
  height: 50px;
  width: 60px;
}
#delete:hover{
  background: #b60505;
}

.btn-warning:active {
  background-color: #000000 !important;
  color: #fff !important;
  border:2px solid rgba(255, 255, 255, 0.308) !important;
}

.questions {
  background: #5e73b9;
  border-radius: 1%;
  margin-left: 15%;
  width: 70%;
}
.form-control {
  border: 4px solid #5e73b9; 
  border-radius: 4px; 
}
/*************Template**************/

.button-image {
  display: block;
  margin-top: 40px; 
  width: 90px; 
  height: 90px; 
}
.center-container {
  display: flex;
  justify-content: center;

}

.button-wrapper {
  text-align: center;
  margin: 10px;
  
}

.button-image {
  width: 250px;
  height: 300px;
}

.btn {
  margin-top: 10px;
}
.temp-btn{
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}

.custom-row {
  margin: -5px; /* Negative margin to the default spacing */
}

.custom-col {
  padding: 5px; /* padding to create even gaps between options */
}
#temp-h1{
  margin-left: 3%; 
  color: rgb(255, 255, 255);
  margin-top: -1.5%;
}